body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(249, 244, 250);
    margin: 0;
}

button {
    color: #8a4cc8;
    background-color: white;
    border-color: #8a4cc8;
    border-style: solid;
    padding: 1% 1.2%;
    border-radius: .1%;
    transition-duration: 0.4s;
}

button:hover {
    color: white;
    background-color: rgb(198, 154, 241);
    border-color: white;
    border-style: solid;
}

button:active {
    color: white;
    background-color: #8a4cc8;
    border-color: white;
    border-style: solid;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px 15px;
}

li a:hover:not(.current) {
    background-color:rgb(229, 211, 247);
}

.current {
    background-color:rgb(198, 154, 241);
}

.lfloat {

}

.rfloat {

}

#intro {
    text-align: center;
    height: 80vh;
}

#space {
    padding: 4vh 1vw;
}

#value-proposition {
    text-align: center;
}

#scroll-tip {
    color: rgb(198, 154, 241);
    font-size: 5vh;
}

#banner {
    background-color: white;
    color: rgb(229, 211, 247);
    text-align: center;
}

#title {
    color: #8a4cc8;
    text-align: center;
    font-size: 15vh;
}

#slogan {
    text-align: center;
    font-size: 5vh;
}

#pitch {
    color: rgb(198, 154, 241);
    font-size: calc(10px + 1.5vh);
}

#benefits {
    background-color: rgb(229, 211, 247);
    font-size: 4vh;
}

.content {
    background-color: white;
    margin: calc(10px + 10vh) 10vw;
    padding: 2vh 2vw;
    display: flex;
}

#profile-left {
    margin:  0.5vh 5vw;
    text-align: left;
}

#projects-container {
    margin: 0.5vh 5vw;
    text-align: left;
}

#archived-projects {
    background-color: none;
    border: 1px rgb(198, 154, 241) solid;
    color:rgb(198, 154, 241);
}

#archived-projects:hover {
    background-color: rgb(229, 211, 247);
    border: 1px rgb(198, 154, 241) solid;
    color:rgb(198, 154, 241);
}

#archived-projects:active {
    background-color: rgb(198, 154, 241);
    border: 1px rgb(198, 154, 241) solid;
    color:rgb(198, 154, 241);
}